<h1>
    Frequently Asked Questions
</h1>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                    Can I leave campus?
            </mat-panel-title>
        </mat-expansion-panel-header>
                NO. You cannot leave campus unless you are with a camp counselor. <br>
                For example, if you want to go to Wendy's, you MUST contact a counselor to come with you and you must be in a group. 
                <br>
                You may be ON campus and walk around aslong as you are using the buddy system.
                Campers who are found walking around campus alone will be required to go back to the dorms immediatly for the rest of the evening.
    </mat-expansion-panel>

    <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                What time is the cafeteria open?
            </mat-panel-title>
          </mat-expansion-panel-header>
          Depending on your wave schedule, Eagle Commons will be open between waves for about 2 hours. 
          This allows you some time to eat, go back to your dorm room and rest then get back to the gym!
    </mat-expansion-panel>

    <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                I am not feeling well, who can I talk to about it?
            </mat-panel-title>
            </mat-expansion-panel-header>
                Contact a camp couselor, Coach Jen or Coach Jon if you feel under the weather. They will be able to guide you further.
      </mat-expansion-panel>

      <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Can I move my mattress to another room?
              </mat-panel-title>
            </mat-expansion-panel-header>
            As long as the room is put back exactly how it was when you moved in, you are permitted to move the mattress and 
            only the mattress to another room. <br>
            You should always check with your roommate that they are okay with it or ask them if they want to join. Be inclusive 
            and be a leader. Everyone is at this camp to learn more about volleyball and to have fun! Do not leave anyone out!!
      </mat-expansion-panel>
</mat-accordion>

<br>
<br>
<br>
<br>
<br>
<br>