table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 65%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.tableHolder{
  margin: 40px 25px;
}


button{
  padding: 9px 25px;
  background-color: #003366;
  color: #fff;
  height: auto;
  cursor: pointer;
  font-size: 14px;
}

button:hover{
  background-color: #97824a;
  color: #fff;
}